.text-area {
  background-color: transparent;
  -fx-background-color: transparent;
  -fx-text-fill: white;
  font-family: "Albertus MT Std";
  -fx-font-family: "Albertus MT Std";
  font-size: 17px;
  -fx-font-size: 17px;
}

.text-area .scroll-pane {
  background-color: transparent;
  -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
  background-color: transparent;
  -fx-background-color: transparent;
}


.text-area .scroll-pane .content {
  background-color: transparent;
  -fx-background-color: transparent;
  font-family: "Albertus MT Std";
  -fx-font-family: "Albertus MT Std";
  font-size: 17px;
  -fx-font-size: 17px;
}

.text-field {
  font-family: "Albertus MT Std";
  -fx-font-family: "Albertus MT Std";
  font-size: 17px;
  -fx-font-size: 17px;
}